<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="Nombre.valid" [class.red-icon]="Nombre.invalid && Nombre.touched"></i>
          </div>
        </div>
        <input name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre" class="form-control"
               placeholder="Nombre de ubicacion" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="Clave.valid" [class.red-icon]="Clave.invalid && Clave.touched"></i>
          </div>
        </div>
        <input name="Clave" #Clave="ngModel" [(ngModel)]="service.formData.Clave" class="form-control"
               placeholder="Clave del usuario" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="Estado.valid" [class.red-icon]="Estado.invalid && Estado.touched"></i>
          </div>
        </div>
        <input name="Estado" #Estado="ngModel" [(ngModel)]="service.formData.Estado" class="form-control"
        placeholder="Estado del usuario" required>
      </div>
    </div>
  
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="IdRol.valid" [class.red-icon]="IdRol.invalid && IdRol.touched"></i>
          </div>
        </div>
        <input name="IdRol" #IdRol="ngModel" [(ngModel)]="service.formData.IdRol" class="form-control"
               type="number" required>
      </div>
    </div>
  
    <div class="form-group">
      <button class="btn btn-success float-rigth" type="button" [disabled]="form.invalid"
              (click)="onSubmit(form)">
        <i class="fas fa-database"></i> Guardar
      </button>
    </div>
  </form>
  
   