<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">



    <!---->
 <label>pedido:</label>
 <select name="IdPedido" #IdPedido="ngModel"  [(ngModel)]="opcionPedido" class="form-control" (change)="capturar(IdPedido.value)" >
  <option value="0">Selecciona una opción</option>
  <option *ngFor="let dato of service.listPedido" value= {{dato.Id}}>
    {{dato.FechaIngreso}}
  </option>
</select>
<!---->
   <!---->
 <label>Producto:</label>
 <select name="IdProducto" #IdProducto="ngModel"  [(ngModel)]="opcionProducto" class="form-control" (change)="capturar(IdProducto.value)" >
  <option value="0">Selecciona una opción</option>
  <option *ngFor="let dato of service.listProducto" value= {{dato.Id}}>
    {{dato.Nombre}}
  </option>
</select>
<!---->









    <div class="form-group">
      <label>Cantidad:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="Cantidad.valid" [class.red-icon]="Cantidad.invalid && Cantidad.touched"></i>
          </div>
        </div>
        
        <input name="Cantidad" #Cantidad="ngModel" [(ngModel)]="service.formData.Cantidad" class="form-control"
        type="number" placeholder="ingrese la Cantidad" required>
      </div>
    </div>
    <div class="form-group">
      <label>Sub monto:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="SubMonto.valid" [class.red-icon]="SubMonto.invalid && SubMonto.touched"></i>
          </div>
        </div>
        <input name="SubMonto" #SubMonto="ngModel" [(ngModel)]="service.formData.SubMonto" class="form-control"
        type="number" placeholder="ingrese el Sub Monto" required>
      </div>
    </div>
    
    <div class="form-group">
      <button class="btn btn-success float-rigth" type="button" [disabled]="form.invalid"
              (click)="onSubmit(form)">
        <i class="fas fa-database"></i> Guardar
      </button>
    </div>
  </form>
  

