<form>
  <div class="row">
    <div class="col-md-5">
      Cantidad de Pag:
      <select #cant ng-model="cant">
        <option value="">
        <option value=1>1
        <option value=4>4
        <option value=6>6
      </select>
      <button class="btn btn-success float-rigth" type="button" (click)="listar(cant.value)">Listar</button>
    </div>
    <div class="row">
      Filtrar:
      <div class="col-md-15">
      <input #buscar class="form-control"placeholder="ingrese la busqueda" required>
      <button class="btn btn-success float-rigth" type="button" (click)="filtrar(buscar.value)">Filtrar</button>
      </div>
    </div>
  </div>
</form>

<hr>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="NombreCompleto" (sort)="onSort($event)">Nombre completo</th>
      <th scope="col" sortable="Celular" (sort)="onSort($event)">Celular</th>
      <th scope="col" sortable="DescripcionVehiculo" (sort)="onSort($event)">Descripci&oacute;n de veh&iacute;culo</th>
      <th scope="col" sortable="TipoVehiculo" (sort)="onSort($event)">Tipo de veh&iacute;culo</th>
      <th scope="col" sortable="Estado" (sort)="onSort($event)">Estado</th>
      <th scope="col" sortable="Latitud" (sort)="onSort($event)">Latitud</th>
      <th scope="col" sortable="Longitud" (sort)="onSort($event)">Longitud</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transportador of service.list">
      <td (click)="populateForm(transportador)">{{transportador.NombreCompleto}}</td>
      <td (click)="populateForm(transportador)">{{transportador.Celular}}</td>
      <td (click)="populateForm(transportador)">{{transportador.DescripcionVehiculo}}</td>
      <td (click)="populateForm(transportador)">{{transportador.TipoVehiculo}}</td>
      <td (click)="populateForm(transportador)">{{transportador.Estado}}</td>
      <td (click)="populateForm(transportador)">{{transportador.Latitud}}</td>
      <td (click)="populateForm(transportador)">{{transportador.Longitud}}</td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(transportador.Id)"></i>
      </td>
    </tr>
  </tbody>
</table>
<form>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-success float-rigth" type="button" (click)="Anterior()">Anterior</button>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success float-rigth" type="button"(click)="Siguiente()">Siguiente</button>
    </div>
  </div>
</form>