<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">
    <input type="hidden" name="PathImg" [value]="service.formData.PathImg">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="Descripcion.valid" [class.red-icon]="Descripcion.invalid && Descripcion.touched"></i>
          </div>
        </div>
        <input  name="Descripcion" #Descripcion="ngModel" [(ngModel)]="service.formData.Descripcion" class="form-control"
               placeholder="ingrese la Descripcion" required>
      </div>
    </div>
     <!---->
     <select name="IdProducto" #IdProducto="ngModel"  [(ngModel)]="opcionSeleccionado" class="form-control" (change)="capturar(IdProducto.value)" >
      <option value="0">Selecciona un producto</option>
      <option *ngFor="let dato of service.listProducto" value= {{dato.Id}}>
        {{dato.Nombre}}
      </option>
    </select>
  <!---->
  <!---->
  <br>
  <div class="form-group">
    <label>Ingresa la Imagen:</label>
    <div class="box">
    <fieldset class="form-group">
        {{imageError}}
        <div class="custom-file fileInputProfileWrap">
            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
            <div class="img-space" >
                <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <img [src]="service.cardImageBase64" class="rounded-circle"/>
                </ng-container>
                <ng-template #elseTemplate>
                    <img [src]="service.cardImageBase64" class="rounded-circle">
                </ng-template>
            </div>
        </div>
    </fieldset>
    </div>
  </div>
  <!---->
    <div class="form-group">
      <button class="btn btn-success float-rigth" type="button" [disabled]="form.invalid"
              (click)="onSubmit(form)">
        <i class="fas fa-database"></i> Guardar
      </button>
    </div>
  </form>
  
  
