<form>
  <div class="row">
    <div class="col-md-5">
      Cantidad de Pag:
      <select #cant ng-model="cant">
        <option value="">
        <option value=1>1
        <option value=4>4
        <option value=6>6
      </select>
      <button class="btn btn-success float-rigth" type="button" (click)="listar(cant.value)">Listar</button>
    </div>
    <div class="row">
      Filtrar:
      <div class="col-md-15">
      <input #buscar class="form-control"placeholder="ingrese la busqueda" required>
      <button class="btn btn-success float-rigth" type="button" (click)="filtrar(buscar.value)">Filtrar</button>
      </div>
    </div> 
  </div>
</form>

<hr>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="Nombre" (sort)="onSort($event)">Nombre</th>
      <th scope="col" sortable="Clave" (sort)="onSort($event)">Clave</th>
      <th scope="col" sortable="Estado" (sort)="onSort($event)">Estado</th>
      <th scope="col" sortable="Entidad" (sort)="onSort($event)">Entidad</th>
      <th scope="col" sortable="IdRef" (sort)="onSort($event)">IdRef</th>
      <th scope="col" sortable="IdRol" (sort)="onSort($event)">IdRol</th>
      
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of service.list">
      <td (click)="populateForm(usuario)">{{usuario.Nombre}}</td>
      <td (click)="populateForm(usuario)">{{usuario.Clave}}</td>
      <td (click)="populateForm(usuario)">{{usuario.Estado}}</td>
      <td (click)="populateForm(usuario)">{{usuario.Entidad}}</td>
      <td (click)="populateForm(usuario)">{{usuario.IdRef}}</td>
      <td (click)="populateForm(usuario)">{{usuario.IdRol}}</td>
      
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(usuario.Id)"></i>
      </td>
    </tr>
  </tbody>
</table>
<form>
  <div class="row">
    <div class="col-md-5">
      <button class="btn btn-success float-rigth" type="button" (click)="Anterior()">Anterior</button>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success float-rigth" type="button"(click)="Siguiente()">Siguiente</button>
    </div>
  </div>
</form>


