<div class="container-fluid " >
    <div class="container">
        <div class="row vr-gallery">                
            <div class="col-md-4 pl-3 mb-4 " *ngFor="let producto of service.listProductovendedor">
               
                <div class="card">
                    
                    <div class="card-body bg-gray cus-pd2 cus-arrow-up">
                        <h3> {{producto.Nombre}}</h3>
                        <h3>PrecioUnitario: {{producto.PrecioUnitario}}</h3>
                        <h3>Cantidad: {{producto.Cantidad}}</h3>   
                        <h3>Marca: {{producto.Marca}}</h3>   
                        <h3>Especificaciones: {{producto.Especificaciones}}</h3>   
                         
                                           
                    </div>
                    
                </div>
            </div>
          
        </div>
    </div>
</div>