<div class="container-fluid " >
    <div class="container">
        <div class="row vr-gallery">                
            <div class="col-md-4 pl-3 mb-4 " *ngFor="let producto of service.listProductovendedor">
               
                <div class="card">
                    
                    <div class="card-body bg-gray cus-pd2 cus-arrow-up">
                        <h3> {{producto.Nombre}}</h3>
                        <h5>PrecioUnitario: {{producto.PrecioUnitario}}</h5>
                        <h5>Cantidad: {{producto.Cantidad}}</h5>   
                        <h5>Marca: {{producto.Marca}}</h5>   
                        <h5>Especificaciones: {{producto.Especificaciones}}</h5>   
                         
                                           
                    </div>
                    
                </div>
            </div>
          
        </div>
    </div>
</div>