<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">
    <div class="form-group">
      <label>Contacto del vendedor:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="PersonaContacto.valid" [class.red-icon]="PersonaContacto.invalid && PersonaContacto.touched"></i>
          </div>
        </div>
        <input name="PersonaContacto" #PersonaContacto="ngModel" [(ngModel)]="service.formData.PersonaContacto" class="form-control"
               placeholder="Contacto de vendedor" required>
      </div>
    </div>
    <div class="form-group">
      <label>Celular del vendedor:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-circle" [class.green-icon]="Celular.valid" [class.red-icon]="Celular.invalid && Celular.touched"></i>
            </div>
          </div>
          <input name="Celular" #Celular="ngModel" [(ngModel)]="service.formData.Celular" class="form-control"
                 placeholder="Celular del vendedor " required>
        </div>
      </div>
      <div class="form-group">
        <label>Tel&eacute;fono del vendedor:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-circle" [class.green-icon]="Telefono.valid" [class.red-icon]="Telefono.invalid && Telefono.touched"></i>
            </div>
          </div>
          <input name="Telefono" #Telefono="ngModel" [(ngModel)]="service.formData.Telefono" class="form-control"
                 placeholder="Teléfono del vendedor" required>
        </div>
      </div>
      <div class="form-group">
        <label>Corr&eacute;o del vendedor:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-circle" [class.green-icon]="Correo.valid" [class.red-icon]="Correo.invalid && Correo.touched"></i>
            </div>
          </div>
          <input name="Correo" #Correo="ngModel" [(ngModel)]="service.formData.Correo" class="form-control"
                 placeholder="Corréo de vendedor" required>
        </div>
      </div>
      <div class="form-group">
        <label>Nombre de la empresa:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-user-circle" [class.green-icon]="NombreEmpresa.valid" [class.red-icon]="NombreEmpresa.invalid && NombreEmpresa.touched"></i>
            </div>
          </div>
          <input name="NombreEmpresa" #NombreEmpresa="ngModel" [(ngModel)]="service.formData.NombreEmpresa" class="form-control"
                 placeholder="Nombre de la Empresa" required>
        </div>
      </div>
    <div class="form-group">
      <label>Direcci&oacute;n de la empresa:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="Direccion.valid" [class.red-icon]="Direccion.invalid && Direccion.touched"></i>
          </div>
        </div>
        <input name="Direccion" #Direccion="ngModel" [(ngModel)]="service.formData.Direccion" class="form-control"
               placeholder="Direccion de la empresa" required>
      </div>
    </div>
    <div class="form-group">
      <label>Logo de la empresa:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-info-circle" [class.green-icon]="PathLogo.valid" [class.red-icon]="PathLogo.invalid && PathLogo.touched"></i>
          </div>
        </div>
        <input name="PathLogo" #PathLogo="ngModel" [(ngModel)]="service.formData.PathLogo" class="form-control"
        placeholder="Path Logo de la empresa" required>
      </div>
    </div>
    <!---->
    <label>Rubro:</label>
    <select name="IdRubro" #IdRubro="ngModel"  [(ngModel)]="opcionRubro" class="form-control" (change)="capturar(IdRubro.value)" >
      <option value="0">Selecciona una opción</option>
      <option *ngFor="let dato of service.listRubro" value= {{dato.Id}}>
        {{dato.Nombre}}
      </option>
    </select>
    <!---->
    <div class="form-group">
      <button class="btn btn-success float-rigth" type="button" [disabled]="form.invalid"
              (click)="onSubmit(form)">
        <i class="fas fa-database"></i> Guardar
      </button>
    </div>
  </form>
  
  