<form #form="ngForm" autocomplete="off">
  <input type="hidden" name="id" [value]="service.formData.Id">
  <div class="form-group">
  <label>Fecha de inicio de oferta:</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="FechaInicio.valid" [class.red-icon]="FechaInicio.invalid && FechaInicio.touched"></i>
        </div>
      </div>
      <input  type='datetime-local' name="FechaInicio" #FechaInicio="ngModel" [(ngModel)]="service.formData.FechaInicio" class="form-control"
              required>
    </div>
  </div>
  <div class="form-group">
    <label>Fecha de fin de oferta:</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-info-circle" [class.green-icon]="FechaFin.valid" [class.red-icon]="FechaFin.invalid && FechaFin.touched"></i>
        </div>
      </div>
      
      <input  type='datetime-local' name="FechaFin" #FechaFin="ngModel" [(ngModel)]="service.formData.FechaFin" class="form-control"
             required>
    </div>
  </div>
  
  <div class="form-group">
    <label>Precio de Oferta en Bs:</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-info-circle" [class.green-icon]="PrecioOferta.valid" [class.red-icon]="PrecioOferta.invalid && PrecioOferta.touched"></i>
        </div>
      </div>
      <input name="PrecioOferta" #PrecioOferta="ngModel" [(ngModel)]="service.formData.PrecioOferta" class="form-control"
             type="number" required>
    </div>
  </div>
<!---->
<label>Producto en oferta:</label>
  <select name="IdProducto" #IdProducto="ngModel"  [(ngModel)]="opcionSeleccionado" class="form-control" (change)="capturar(IdProducto.value)" >
    <option value="0">Selecciona una opción</option>
    <option *ngFor="let dato of service.listProducto" value= {{dato.Id}}>
      {{dato.Nombre}}
    </option>
</select>
<!---->
  <div class="form-group">
    <button class="btn btn-success float-rigth" type="button" [disabled]="form.invalid"
            (click)="onSubmit(form)">
      <i class="fas fa-database"></i> Guardar
    </button>
  </div>
</form>

