<form>
    <div class="row">
      <div class="col-md-5">
        Tipo de Pedido:
        <select #cant ng-model="cant" class="form-control">
          <option value="">
          <option value=Preparacion>Preparacion
          <option value=Cancelado>Cancelado
            <option value=Camino>En camino
        </select>
        <br>
        <button class="btn btn-primary float-rigth" type="button" (click)="listar(cant.value)">Listar</button>
      </div>
        <div class="col-md-5">
        Filtrar:
        <div class="col-md-15">
        <input #buscar class="form-control"placeholder="ingrese la busqueda" required>
        <br>
        <button class="btn btn-primary float-rigth" type="button" (click)="filtrar(buscar.value)">Filtrar</button>
        </div>
      </div>
    </div>
  </form>

  <br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="FechaIngreso" (sort)="onSort($event)">Fecha de ingreso</th>
        <th scope="col" sortable="Estado" (sort)="onSort($event)">Estado</th>
        <th scope="col" sortable="CodigoQrFactura" (sort)="onSort($event)">Codigo QR</th>
        <th scope="col" sortable="MontoEnvio" (sort)="onSort($event)">Monto envio</th>
        <th scope="col" sortable="TipoPago" (sort)="onSort($event)">Tipo de pago</th>
        <th scope="col" sortable="MontoCliente" (sort)="onSort($event)">Monto de cliente</th>
        <th scope="col" sortable="IdCliente" (sort)="onSort($event)">Cliente</th>
        <th scope="col" sortable="IdVendedor" (sort)="onSort($event)">Vendedor</th>
        <th>Conversaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of service.list" [hidden]="pedido.IdCliente!=idVen">
        <td (click)="populateForm(pedido)">{{pedido.FechaIngreso}}</td>
        <td (click)="populateForm(pedido)">{{pedido.Estado}}</td>
        <td (click)="populateForm(pedido)">{{pedido.CodigoQrFactura}}</td>
        <td (click)="populateForm(pedido)">{{pedido.MontoEnvio}}</td>
        <td (click)="populateForm(pedido)">{{pedido.TipoPago}}</td>
        <td (click)="populateForm(pedido)">{{pedido.MontoCliente}}</td>
        <td (click)="populateForm(pedido)">{{pedido.IdCliente}}</td>
        <td (click)="populateForm(pedido)">{{pedido.IdVendedor}}</td>
        <td>
          <button class="btn btn-outline-primary mr-2" type="button" [hidden]="pedido.Estado!='Preparacion'"><i class="fa fa-commenting" aria-hidden="true" (click)="open(contenido,pedido.IdVendedor)" > Chat Vendedor</i></button> 
          <button class="btn btn-outline-primary mr-2" type="button" [hidden]="pedido.Estado!='Camino'"><i class="fa fa-commenting" aria-hidden="true" (click)="open(contenido,pedido.IdTransporte)" > Chat Transportador</i></button> 
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <button class="btn btn-outline-primary mr-2" type="button" (click)="Anterior()"><i class="fa fa-reply" aria-hidden="true"></i></button>
        </td>
        <td>
          <button class="btn btn-outline-primary mr-2" type="button"(click)="Siguiente()" placement="top" ngbTooltip="Tooltip on top"><i class="fa fa-share" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tfoot>
  </table>

    
    
    <ng-template #contenido let-modal>
      <div class="modal-header">
          <h4 class="modal-title">Conversación</h4>
          <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" >
        <p *ngFor="let item of listaChats">
          {{item.Text}}
        </p>
      </div>
      <div class="modal-footer">
          <input class="form-control" placeholder="escribe el mensaje" [(ngModel)]="this.serviceChat.formData.Text">
          <button type="button" class="btn btn-success" (click)="insertChat()"><i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
      </div>
  </ng-template>