<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.Id">
   
    <label>Nombres y apellidos del cliente:</label>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="NombresApellidos.valid" [class.red-icon]="NombresApellidos.invalid && NombresApellidos.touched"></i>
          </div>
        </div>
        <input name="NombresApellidos" #NombresApellidos="ngModel" [(ngModel)]="service.formData.NombresApellidos" class="form-control" required>
      </div>
    </div>
  
    <label>Celular:</label>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="Celular.valid" [class.red-icon]="Celular.invalid && Celular.touched"></i>
          </div>
        </div>
        <input name="Celular" #Celular="ngModel" [(ngModel)]="service.formData.Celular" class="form-control" required>
      </div>
    </div>
  
    <label>Telefono:</label>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-user-circle" [class.green-icon]="Telefono.valid" [class.red-icon]="Telefono.invalid && Telefono.touched"></i>
          </div>
        </div>
        <input name="Telefono" #Telefono="ngModel" [(ngModel)]="service.formData.Telefono" class="form-control" required>
      </div>
    </div>
  
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="button" [disabled]="form.invalid"
      (click)="onSubmit(form)"><i class="fas fa-database"></i> Guardar</button>
    </div>
  
  </form>
  