  <hr>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="Estado" (sort)="onSort($event)">Estado</th>
        <th scope="col" sortable="MontoEnvio" (sort)="onSort($event)">Monto envio</th>
        <th scope="col" sortable="TipoPago" (sort)="onSort($event)">Tipo de pago</th>
        <th scope="col" sortable="MontoCliente" (sort)="onSort($event)">Monto de cliente</th>
        <th scope="col" sortable="IdCliente" (sort)="onSort($event)">Cliente</th>
        <th scope="col" sortable="IdVendedor" (sort)="onSort($event)">Vendedor</th>
        <th scope="col" sortable="IdTransporte" (sort)="onSort($event)">Transporte</th>
        <th scope="col">Ubicaciones</th>
        <th>Conversaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of service.list" [hidden]="pedido.IdTransporte!=idVen">
        <td (click)="populateForm(pedido)">{{pedido.Estado}}</td>
        <td (click)="populateForm(pedido)">{{pedido.MontoEnvio}}</td>
        <td (click)="populateForm(pedido)">{{pedido.TipoPago}}</td>
        <td (click)="populateForm(pedido)">{{pedido.MontoCliente}}</td>
        <td (click)="populateForm(pedido)">{{pedido.IdCliente}}</td>
        <td (click)="populateForm(pedido)">{{pedido.IdVendedor}}</td>
        <td (click)="populateForm(pedido)">{{pedido.IdTransporte}}</td>
        <td>
          <button class="btn btn-outline-primary mr-2" type="button"><i class="fas fa-map-marked-alt" (click)="verUbicacion(pedido.IdCliente)"></i></button>
        </td>
        <td>
          <button class="btn btn-outline-primary mr-2" type="button" ><i class="fa fa-commenting" aria-hidden="true" (click)="open(contenido,pedido.IdVendedor)"> Vendedor</i></button> 
          <button class="btn btn-outline-primary mr-2" type="button" ><i class="fa fa-commenting" aria-hidden="true" (click)="open(contenido,pedido.IdCliente)"> Cliente</i></button> 
        </td>
      </tr>
    </tbody>
      <tbody hidden=true> 
        <tr *ngFor="let trans of service1.list">
          <td (click)="populateForm(trans)">{{trans.Latitud}}</td>
          <td (click)="populateForm(trans)">{{trans.Longitud}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button class="btn btn-outline-primary mr-2" type="button" (click)="Anterior()"><i class="fa fa-reply" aria-hidden="true" ></i></button>
          </td>
          <td>
            <button class="btn btn-outline-primary mr-2" type="button"(click)="Siguiente()" placement="top" ngbTooltip="Tooltip on top"><i class="fa fa-share" aria-hidden="true" ></i></button>
          </td>
        </tr>
      </tfoot>
  </table>
<hr>
<h4 class="display-4 text-center">Ubicacion del pedido</h4>
  <div class="map" id="map"></div>

  <ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Conversación</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" >
      <p *ngFor="let item of listaChats">
        {{item.Text}}
      </p>
    </div>
    <div class="modal-footer">
        <input class="form-control" placeholder="escribe el mensaje" [(ngModel)]="this.serviceChat.formData.Text">
        <button type="button" class="btn btn-success" (click)="insertChat()"><i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>