<form>
    <div class="row">
      <div class="col-md-5">
        Cantidad de Pag:
        <select #cant ng-model="cant">
          <option value="">
          <option value=1>1
          <option value=4>4
          <option value=6>6
        </select>
        <button class="btn btn-success float-rigth" type="button" (click)="listar(cant.value)">Listar</button>
      </div>
      <div class="row">
        Filtrar:
        <div class="col-md-15">
        <input #buscar class="form-control"placeholder="ingrese la busqueda" required>
        <button class="btn btn-success float-rigth" type="button" (click)="filtrar(buscar.value)">Filtrar</button>
        </div>
      </div>
    </div>
  </form>
  
  <hr>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="PersonaContacto" (sort)="onSort($event)">PersonaContacto</th>
        <th scope="col" sortable="Celular" (sort)="onSort($event)">Celular</th>
        <th scope="col" sortable="Telefono" (sort)="onSort($event)">Telefono</th>
        <th scope="col" sortable="Correo" (sort)="onSort($event)">Correo</th>
        <th scope="col" sortable="NombreEmpresa" (sort)="onSort($event)">NombreEmpresa</th>
        <th scope="col" sortable="Direccion" (sort)="onSort($event)">DesDireccioncripcion</th>
        <th scope="col" sortable="PathLogo" (sort)="onSort($event)">PathLogo</th>
        <th scope="col" sortable="IdRubro" (sort)="onSort($event)">IdRubro</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vendedor of service.list">
        <td (click)="populateForm(vendedor)">{{vendedor.PersonaContacto}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.Celular}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.Telefono}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.Correo}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.NombreEmpresa}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.Direccion}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.PathLogo}}</td>
        <td (click)="populateForm(vendedor)">{{vendedor.IdRubro}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(vendedor.Id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <form>
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-success float-rigth" type="button" (click)="Anterior()">Anterior</button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-success float-rigth" type="button"(click)="Siguiente()">Siguiente</button>
      </div>
    </div>
  </form>
  
  
  