<form>
    <div class="row">
      <div class="col-md-5">
        Cantidad de Pag:
        <select #cant ng-model="cant">
          <option value="">
          <option value=1>1
          <option value=4>4
          <option value=6>6
        </select>
        <button class="btn btn-success float-rigth" type="button" (click)="listar(cant.value)">Listar</button>
      </div>
      <div class="row">
        Filtrar:
        <div class="col-md-15">
        <input #buscar class="form-control"placeholder="ingrese la busqueda" required>
        <button class="btn btn-success float-rigth" type="button" (click)="filtrar(buscar.value)">Filtrar</button>
        </div>
      </div>
    </div>
  </form>
  
  <hr>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="Cantidad" (sort)="onSort($event)">Cantidad</th>
        <th scope="col" sortable="Monto" (sort)="onSort($event)">Monto</th>
        <th scope="col" sortable="Descripcion" (sort)="onSort($event)">Descripcion</th>
        <th scope="col" sortable="IdDetallePedido" (sort)="onSort($event)">Detalle Pedido</th>
        <th scope="col" sortable="IdFactura" (sort)="onSort($event)">Factura</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalleFactura of service.list">
        <td (click)="populateForm(detalleFactura)">{{detalleFactura.Cantidad}}</td>
        <td (click)="populateForm(detalleFactura)">{{detalleFactura.Monto}}</td>
        <td (click)="populateForm(detalleFactura)">{{detalleFactura.Descripcion}}</td>
        <td (click)="populateForm(detalleFactura)">{{detalleFactura.IdDetallePedido}}</td>
        <td (click)="populateForm(detalleFactura)">{{detalleFactura.IdFactura}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(detalleFactura.Id)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <form>
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-success float-rigth" type="button" (click)="Anterior()">Anterior</button>
      </div>
      <div class="col-md-5">
        <button class="btn btn-success float-rigth" type="button"(click)="Siguiente()">Siguiente</button>
      </div>
    </div>
  </form>


 