<body style="background-color: #a7a9ad">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #b8bdc2 !important;">
  <a class="navbar-brand" href="#">Pedidos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
   
<div class="collapse navbar-collapse" id="navbarSupportedContent">
     
<ul class="navbar-nav mr-auto">
       

 
       
<li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" [routerLink]="['/ingresar']" routerLinkActive="router-link-active">Ingresar</a>
      </li>

<li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" [routerLink]="['/registrar']" routerLinkActive="router-link-active">Registrar</a>
      </li>

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
 
<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="    background-color: #212529;">
  
<li class="nav-item" >
    <a style="color: floralwhite;" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/localizaciones']" routerLinkActive="router-link-active">Localizaciones </a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/vendedores']" routerLinkActive="router-link-active">vendedores</a>
  </li>
<li class="nav-item">
    <a style="color: floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/productos']" routerLinkActive="router-link-active">Productos</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">usuarios</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/ofertas']" routerLinkActive="router-link-active">Ofertas</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/chats']" routerLinkActive="router-link-active">Chats</a>
  </li>

<li class="nav-item">

    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/categoriaProductos']" routerLinkActive="router-link-active">Categor&iacute;a de Productos</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/transportadores']" routerLinkActive="router-link-active">Transportadores</a>
  </li>
<li class="nav-item">
    <a style="color: floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/detalle-facturas']" routerLinkActive="router-link-active">Detalle de Factura</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/detalle-pedidos']" routerLinkActive="router-link-active">Detalle de Pedido</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/rubros']" routerLinkActive="router-link-active">Rubro</a>
  </li>
<li class="nav-item">
    <a style="color:floralwhite" class="nav-link" *ngIf="_authService.loggedIn()" [routerLink]="['/clientes']" routerLinkActive="router-link-active">Clientes</a>
  </li>


          
           
<div class="dropdown-divider"></div>
 
          <a style="color:floralwhite" class="dropdown-item" href="#">MAS</a>
        </div>
 
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="_authService.logoutUser()" style="cursor: pointer;">Salir</a>
      </li>  
       
       
<li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Prueba 1</a>
      </li>
 
    </ul>
 
     
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 
  </div>
 
</nav>
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Welcome Delivery Chapaco</h1>
        <p class="lead mb-5 text-white-50">Bienvenidos a nuestro Sitio Web de nuestro servicio de Delivery Chapaco.</p>
      </div>
    </div>
  </div>
</header>
<!-- Page Content -->


<div class="container">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Qué hacemos?</h2>
      <hr>
      <p>Estamos al servicio de la población tarijeña con el objetivo de realizar el servicio de delivery para cada una de las familias, empresas, tarijeñas brindando el confort y la seguridad necesearia!</p>
      <p>Estamos al servicio las 24 horas del día para poder atender su necesidad en cualquier momento y en donde se encuentre para poder a si brindarle un servicio satisfactorio</p>
      <a class="btn btn-primary btn-lg" href="#">Conocenos más &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contactanos</h2>
      <hr>
      <address>
        <strong>Adm Web Site</strong>
        <br>1773-Tarija-Cercado
        <br>UCB-Tarija
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (591) 6378-2626
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">pollomonDeveloper@gmail.com</a>
      </address>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Delivery Website </p>
  </div>

  <!-- /.container -->
</footer>




